.frame {
  align-content: center;
  display: grid;
  grid-template: auto / minmax(auto, 480px);
  justify-content: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.box {
  box-shadow: var(--index-box-outline, 0 0 0 transparent),
    var(--index-box-shadow);
  padding: var(--index-box-padding, 16px);
  /*position: relative;
  height:  300px;*/
}

.body {
  display: grid;
  gap: 24px;
}

.links {
  display: grid;
  gap: 24px;
  grid-template: auto / repeat(2, 1fr);
}

.foot {
  display: grid;
  gap: 24px;
  grid-template: repeat(2, auto) / 1fr;
}

.image {
  display: block;
  height: 100%;
  width: 100%;
}

@media (min-width: 480px) and (min-height: 528px) {
  .frame {
    --index-box-outline: inset 0 0 0 4px var(--outline);
    --index-box-shadow: 16px 16px 0 0 var(--surface-negative);
    --index-box-padding: 4px;
  }
}
