.frame {
  align-content: center;
  display: grid;
  grid-template: auto / minmax(auto, 480px);
  justify-content: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: 16px 0;
}
