.frame {
  --box-padding: 24px;

  align-content: center;
  display: grid;
  grid-template: auto / minmax(auto, 480px);
  justify-content: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.text {
  display: grid;
  gap: 24px;
}

.links {
  display: grid;
  gap: 24px;
  grid-template: auto / repeat(2, 1fr);
}

.foot {
  display: grid;
  gap: 24px;
  grid-template: repeat(2, auto) / 1fr;
}
